html, body {
	min-height:100%;
	font-family:'Open Sans';
	font-weight:400;
	background-color:white;
}

body {
	display:none;
	margin:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

h1 {
	font-weight:600;
	padding:0 20px;
	text-align:center;
	margin:0;
	padding:20px;
}


#notice {
	width:100%;
	height:50px;
	text-align: center;
	line-height: 50px;
	background-color:#333;
	color:yellow;
	font-weight:300;
	letter-spacing:1px;
}

/* Questions section */
#questions {
	display:none;
	padding:30px;
	width:320px;
	margin:0 auto;
}

#questions .question {
	display:block;
	padding:10px;
	text-align:center;
}

#questions .question .qn {
	margin-bottom:10px;
	font-weight:600;
	text-align:center;
}

#questions .question input[type="text"] {
	height:24px;
	line-height:24px;
	width:100%;
	font-size:16px;
	text-indent:5px;
}

#questions .question select {
	width:50%;
	min-width:200px;
	font-size:16px;
	padding:20px;
	-webkit-appearance: menulist-button;
}

#questions .question #btn_start {
	font-size:16px;
	padding:14px 30px;
	border:0;
	background-color:#2eaadc;
	color:#030d11;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	margin-top:20px;
}

#questions .question #btn_start:hover {
	background-color:#155d7a;
	color:white;
	cursor:pointer;
}

#questions .question #btn_start:focus {
	outline:none;
}

/* Board section */
#game {
	display:none;
	position:relative;
	padding:30px;
}

#board {
	position:relative;
	width:195px;
	margin:0 auto;
}

#board .row .tile-col {
	float:left;
	margin:2px;
}

#board .row .tile-col:first-child {
	clear:both;
}

#board .row .tile-col a.tile {
	display:block;
	width:60px;
	height:60px;
	background-color:#ccc;
}

#board .row .tile-col a.tile:hover {
	background-color:#ddd;
}

#board .row .tile-col a.tile.player:hover, #board .row .tile-col a.tile.computer:hover {
	background-color:#ccc;
}

#board .row .tile-col a.tile:first-child {
	clear:both;
}



#board .row a.tile:after {
	position:absolute;
	width:60px;
	height:60px;
	line-height:60px;
	text-align:center;
	font-size:40px;
	font-weight:600;
}

/* Player is blue naughts */
#board .row a.tile.player:after {
	content: "O";
	color:blue;
}

/* Computer is red crosses */
#board .row a.tile.computer:after {
	content: "X";
	color:red;
}

#game_info .legend .player, #game_info .legend .computer {
	margin-bottom:14px;
}

#game_info .legend .player:before, #game_info .legend .computer:before {
	width:24px;
	height:24px;
	line-height:24px;
	margin-right:10px;
	background-color:#ccc;
	display:inline-block;
	font-weight:600;
	text-align:center;
}

#game_info .legend .player:before {
	content: "O";
	color:blue;

}

#game_info .legend .computer:before {
	content: "X";
	color:red;
}



/* Result screens */
#won, #lost, #draw {
	display:none;
}


/* 1 column across */
.col {
	float:left;
	width:100%;
	padding-bottom:40px;
}

.col:after {
	clear:both;
}

/* Styles for large screens */
@media (min-width: 760px) {
	/* 2 columns across */
	.col {
		width:50%;
	}
}









